:host {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid gray;

  .menu {
    display: flex;
    background-color: white;
    
    &-item {
      display: flex;
      height: 50px;
      margin: 15px 20px;
      align-items: center;
      justify-content: center;
      
      .link {
        color: #0095e5;
        font-weight: 600;
        font-size: 20px;
        text-decoration: unset;
      }
    }
  }
}