<div class="footer-wrapper">
  <div class="work-time">
    <div class="header">Время работы:</div>
    <div class="content header-content">
      <p class="contacts-item">Понедельник - пятница</p>
      <p class="contacts-item">8:00 - 17:00</p>
      <p class="contacts-item">г. Орша, ул. Комсомольская, д.11, каб. 49</p>
    </div>
  </div>
  <div class="contacts">
    <div class="header">Контакты</div>
    <div class="content">
      <p class="contact">+375 (33) 399-96-00</p>
      <p class="contact">+375 (33) 399-96-01</p>
      <p class="contact">+375 (33) 395-16-01</p>
      <a href="mailto:virgo3999601@gmail.com" class="mail">
          virgo3999601@gmail.com
      </a>
    </div>
  </div>
</div>