<div class="questions-wrapper">
  <h2 class="questions-header">Часто задаваемые вопросы</h2>

  <div class="questions-content">
    <div class="questions-item"
         *ngFor="let question of questions"
         [style.height]="question.height"
         [style.color]="question.color"
         [style.background-color]="question.background_color"
         (click)="onQuestionClick(question)">
      <h3> {{ question.header }} </h3>
      <div class="questions-item-text" *ngIf="question.isExpand"> {{ question.text }} </div>
    </div>
  </div>
</div>
