<div class="services">
  <div class="services-header">
    Услуги
  </div>

  <div class="services-content-wrapper">
    <div class="services-content">
      <div class="services-content-header">
        Мы осуществляем авто-грузоперевозки по таким направлениям как:
      </div>
      <div class="services-content-text">
          <li class="list-item">Республика Беларусь</li>
          <li class="list-item">Российская Федерация</li>
          <li class="list-item">Европа</li>
          <li class="list-item">Казахстан</li>
          <li class="list-item">Узбекистан</li>
          <li class="list-item">Украина</li>
          <li class="list-item">Киргизия</li>
          <li class="list-item">Туркменистан</li>
      </div>
    </div>
    <div class="services-content-image">
      <img src="assets/car-services-right.jpeg" class="right-car">
    </div>
  </div>

  <div class="services-content-wrapper">
    <div class="services-content-image">
      <img src="assets/car-services-left.jpg" class="left-car">
    </div>
    <div class="services-content">
      <div class="services-content-header">
        Типы грузов, которые мы перевозим:
      </div>
      <div class="services-content-text">
        <li class="list-item">Комплектные грузы;</li>
        <li class="list-item">Регулярные сборные линии с согласованным расписанием и точными сроками доставки;</li>
        <li class="list-item">Услуга адресной доставки и поставки по схеме «от двери до двери»;</li>
        <li class="list-item">Сборные грузы;</li>
        <li class="list-item">Прием грузов от 1 кг до 22 тонн, объемом от 0,1 до 140 м3;</li>
        <li class="list-item">Доставка малогабаритных грузов отдельными малотоннажными автомобилями.</li>
      </div>
    </div>
  </div>
</div>
