<div class="faq-preview">
  Почему выбирают нас?
</div>

<div class="faq-wrapper">
  <div class="faq-card">
    <div class="faq-header">
      <div class="faq-header-image">
        <img src="assets/faq-car.png">
      </div>
      <div class="faq-header-text">
        Безупречный сервис
      </div>
    </div>
    <div class="faq-text">
      Наша компания предлагает быстрое обслуживание на самом высоком уровне! Техническая поддержка осуществляется 24 часа.
    </div>
  </div>

  <div class="faq-card">
    <div class="faq-header">
      <div class="faq-header-image">
        <img src="assets/faq-calculator.png">
      </div>
      <div class="faq-header-text">
        Надежность
      </div>
    </div>
    <div class="faq-text">
      Заказывая грузоперевозку с нашей компанией вы можете не беспокоится о доставке вашего товара.
    </div>
  </div>

  <div class="faq-card">
    <div class="faq-header">
      <div class="faq-header-image">
        <img src="assets/faq-time.png">
      </div>
      <div class="faq-header-text">
        Оперативная работа
      </div>
    </div>
    <div class="faq-text">
      Наши специалисты помогут Вам перевезти ваш груз в самые сжатые сроки. Наш опытный персонал поможет вам быстро рассчитать стоимость на основании веса и объёма груза.
    </div>
  </div>

  <div class="faq-card">
    <div class="faq-header">
      <div class="faq-header-image">
        <img src="assets/faq-money.png">
      </div>
      <div class="faq-header-text">
        Невысокая стоимость
      </div>
    </div>
    <div class="faq-text">
      Выбирая нас вы экономите свои деньги! Мы поможем Вам минимизировать затраты на доставку.
    </div>
  </div>
</div>
