<div class="work-step-header">
  Шаги в работе с нами
</div>

<div class="work-step-wrapper">
  <div class="work-step">
    <div class="work-step-image">
      <img src="assets/images/call-me.png" class="step-image">
    </div>
    <div class="work-step-text">
      Оставьте заявку
    </div>
  </div>

  <div class="next-stage-arrow">
    <img src="assets/images/arrow.png" class="arrow-image">
  </div>
  <div class="work-step">
    <div class="work-step-image">
      <img src="assets/images/deal.jpg" class="step-image">
    </div>
    <div class="work-step-text">
      Заключение договора
    </div>
  </div>
  
  <div class="next-stage-arrow">
    <img src="assets/images/arrow.png" class="arrow-image">
  </div>
  <div class="work-step">
    <div class="work-step-image">
      <img src="assets/images/tranzition.jpg" class="step-image">
    </div>
    <div class="work-step-text">
      Осуществление перевозки
    </div>
  </div>
  
  <div class="next-stage-arrow">
    <img src="assets/images/arrow.png" class="arrow-image">
  </div>
  <div class="work-step">
    <div class="work-step-image">
      <img src="assets/images/receipt-of-cargo.jpg" class="step-image">
    </div>
    <div class="work-step-text">
      Вы получаете груз
    </div>
  </div>
</div>